.header{
  padding-bottom: 2rem;
}

.themed-colored{
  background-color: #45668e;
}

.active-user{
  background-color:  #b3cce6;
}

.verticaly-centered{
  top:20%;
}

.btn:disabled{
    background-color: #c6d9ec;
}

.list {
  padding-top: 50px;
  padding-bottom: 50px;
  padding:50px;
}
@media (max-width: 979px) {
  .body {
    padding-bottom: 0px;
  }
}

.user-row{
  margin:5px;
}

.top-image{
  padding: 0px;
}

.lead{
  text-align: center;
}

.annotation{
  color:  #bfbfbf;
}

.jumbotron
{
    background-size: cover;
    padding-top: 0px;
    padding-bottom:0px;
    width: 100%; /* make sure to define width to fill container */
                   /* so you can see your image */
    max-width:1400px;  /* define the max width */
 }
